@import './vars.css';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
}
header div {
  display: inline-block;
}
h1 {
  font-family: gill sans;
  font-weight: 600;
  text-decoration: underline;
}
.container {
  height: 100vh;
  height: 100%;
}
#score-container {
  float:right;
}
.scoring {
  font-size: 2em;
}
.fixed {
  /* position: sticky; */
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}
#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(55, 55, 55, 0.75);
  z-index: 1000;
  color: white;
}
#overlay-text {
  font-size: 3vw;
}
#overlay-text img {
  max-width: 50vmin;
}
#new-game {
  background: maroon;
  color: white;
  width: 30vmin;
  height: 10vmin;
}
.centre {
  text-align: center;
}
.img {
  width: 438px;
  height: 657px;
}
.product-container {
  overflow: hidden;
  width: 884px;
  margin: 0 auto;
}
.product__image {
  display: inline-block;
}
#ticker-wrapper {
  /* width: var(--ticker-width); */
  width: 5000px;
}
.ticking {
  animation: product-ticker 1.5s 0.2s ease forwards;
}           /* name        timing delay type forwards */

@keyframes product-ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slide-distance));
    /* transform: translateX(calc(2 * var(--slide-distance))); */
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.cta-buttons button {
  height: 3em;
  font-size: 2vh;
  cursor: pointer;
  background: hsl(215, 17%, 32%);
  color: white;
  border-radius: 3px;
  padding: 0.75em;
  width: 7em;
  font-weight: 500;
  letter-spacing: 2px;
}

/* FOR DEBUGGING REMOVE WHEN LIVE */
/* REMOVE THIS Override CSS for overflow to be scroll */
.product[data-is-active^="true"] {
  border: 1px solid red;
}
/* .product-container {
  overflow: inherit !important;
  margin: 0 auto;
} */