@import './vars.css';

.container {
  height: 100vh;
}
#score-container {
  float:right;
}
.scoring {
  font-size: 2em;
}
.fixed {
  position: sticky;
  width: 100%;
  bottom: 0;
}
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(55, 55, 55, 0.75);
  z-index: 1000;
  color: white;
  padding: 8vw;
}
#overlay-text {
  font-size: 3vw;
}
#overlay-text img {
  max-width: 50vmin;
}

.centre {
  text-align: center;
}
.cta-buttons button {
  height: 8vh;
  font-size: 3vh;
  cursor: pointer;
}


.img {
  /* height: 60vh; */
  /* max-width: 100%; */
  width: 438px;
  height: 657px;
}

.product-container {
  overflow: hidden;
  width: 884px;
  margin: 0 auto;
}
.product__image {
  display: inline-block;
}

.ticker-wrapper {
  width: var(--ticker-width);
}
.ticking {
  animation: product-ticker 1.5s 0.2s ease forwards;
}           /* name        timing delay type forwards */

@keyframes product-ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slide-distance));
    /* transform: translateX(calc(2 * var(--slide-distance))); */
  }
}