.container {
  height: 100vh;
}
#score-container {
  float:right;
}
.scoring {
  font-size: 2em;
}
.img {
  height: 60vh;
  max-width: 100%;
}
.fixed {
  position: sticky;
  width: 100%;
  bottom: 0;
}
#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(55, 55, 55, 0.75);
  z-index: 1000;
  color: white;
  padding: 8vw;
}
#overlay-text {
  font-size: 3vw;
}
.centre {
  text-align: center;
}
.cta-buttons button {
  height: 8vh;
  font-size: 3vh;
  cursor: pointer;
}